In [1]:
import pandas as pd 
import numpy as np 
#DELETED FIRST FOWS INFO FROM CSV
#Pennsylvania
#Individual Income Tax REturns

In [17]:
#create list of zip codes in Philadelphia County (from https://www.zillow.com/browse/homes/pa/philadelphia-county/)
zip_file = 'zip_codes.txt'
read_zips = open(zip_file, 'r')
zip_list = [line.rstrip('\n') for line in read_zips.readlines()]  
print type(zip_list[0])
print len(zip_list)

<type 'str'>
60

In [3]:
df = pd.read_csv('pa_2015_total_number_returns.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10962 entries, 0 to 10961
Data columns (total 3 columns):
ZIP
code [1]                     9593 non-null object
Size of adjusted gross income    8209 non-null object
Number of returns                9577 non-null object
dtypes: object(3)
memory usage: 257.0+ KB

In [5]:
df = df.drop([0,1])
df = df.rename(columns={'ZIP\ncode [1]': "zip_code"})
df = df.dropna(how='all')
values = {'Size of adjusted gross income': 'Total', 'Number of returns':0}
df = df.fillna(value = values)

In [6]:
df.head(20)

   zip_code Size of adjusted gross income Number of returns
2     00000                         Total         6,128,720
3     00000              $1 under $25,000           2233990
4     00000         $25,000 under $50,000           1428240
5     00000         $50,000 under $75,000            864410
6     00000        $75,000 under $100,000            573560
7     00000       $100,000 under $200,000            779480
8     00000              $200,000 or more            249040
10    15001                         Total            16,460
11    15001              $1 under $25,000              6180
12    15001         $25,000 under $50,000              3880
13    15001         $50,000 under $75,000              2400
14    15001        $75,000 under $100,000              1600
15    15001       $100,000 under $200,000              2090
16    15001              $200,000 or more               310
18    15003                         Total             5,740
19    15003              $1 under $25,000              2410
20    15003         $25,000 under $50,000              1620
21    15003         $50,000 under $75,000               880
22    15003        $75,000 under $100,000               420
23    15003       $100,000 under $200,000               370

In [7]:
print df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9593 entries, 2 to 10961
Data columns (total 3 columns):
zip_code                         9593 non-null object
Size of adjusted gross income    9593 non-null object
Number of returns                9593 non-null object
dtypes: object(3)
memory usage: 299.8+ KB
None

In [9]:

#df['Number of returns'] = df['Number of returns'].apply(lambda x: x.replace(',','') if type(x)==str)
df['Number of returns'] = df['Number of returns'].str.replace(',', '')
df['Number of returns'] = df['Number of returns'].str.replace('*', '')
df['Number of returns'] = df['Number of returns'].str.replace(' ', '')

#df['zip_code'] = df['zip_code'].astype(int)
df['Number of returns'] = df['Number of returns'].astype(float)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9593 entries, 2 to 10961
Data columns (total 3 columns):
zip_code                         9593 non-null object
Size of adjusted gross income    9593 non-null object
Number of returns                9576 non-null float64
dtypes: float64(1), object(2)
memory usage: 299.8+ KB

In [11]:
df = df.reset_index(drop=True)
'''
table = pivot_table(df, values='D', index=['A', 'B'],
...                     columns=['C'], aggfunc=np.sum)
'''

"\ntable = pivot_table(df, values='D', index=['A', 'B'],\n...                     columns=['C'], aggfunc=np.sum)\n"

In [12]:
pivot = pd.pivot_table(df, values='Number of returns', index='zip_code', columns = 'Size of adjusted gross income')

In [19]:
pivot = pivot.reset_index()

In [20]:
test = pivot[pivot['zip_code'].isin(zip_list)]
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46 entries, 1231 to 1276
Data columns (total 8 columns):
zip_code                   46 non-null object
$1 under $25,000           46 non-null float64
$100,000 under $200,000    46 non-null float64
$200,000 or more           46 non-null float64
$25,000 under $50,000      46 non-null float64
$50,000 under $75,000      46 non-null float64
$75,000 under $100,000     46 non-null float64
Total                      46 non-null float64
dtypes: float64(7), object(1)
memory usage: 3.2+ KB

In [21]:
print set(zip_list) - set(pivot['zip_code'])

set(['19110', '19112', '19099', '19105', '19192', '19187', '19092', '19019', '19173', '19109', '19101', '19155', '19170', '19176'])